/* You can add global styles to this file, and also import other style files */
:root {
  --color-theme: #3f51b5;
  --light-theme: #ffffff;
  --danger-theme: #df4759;
}
html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.background-theme {
  background: var(--color-theme);
}
.color-theme {
  color: var(--color-theme);
}
mat-icon {
  vertical-align: middle;
}
mat-spinner{
  width: 40px !important;
  height: 40px !important;
}
mat-spinner svg {
  width: 40px !important;
  height: 40px !important;
}
mat-spinner svg circle {
  stroke-width: 5% !important;
}
