/* You can add global styles to this file, and also import other style files */
:root {
  --color-theme: #3f51b5;
  --light-theme: #ffffff;
}
html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.background-theme {
  background: var(--color-theme);
}
.color-theme {
  color: var(--color-theme);
}
mat-icon {
  vertical-align: middle;
}
